.small-12,.small-columns-1 .flickity-slider>.col,.small-columns-1>.col{flex-basis:100%;max-width:100%}
.small-columns-2 .flickity-slider>.col,.small-columns-2>.col{flex-basis:50%;max-width:50%}
.small-columns-3 .flickity-slider>.col,.small-columns-3>.col{flex-basis:33.3333333333%;max-width:33.3333333333%}
.small-columns-4 .flickity-slider>.col,.small-columns-4>.col{flex-basis:25%;max-width:25%}
.small-columns-5 .flickity-slider>.col,.small-columns-5>.col{flex-basis:20%;max-width:20%}
.small-columns-6 .flickity-slider>.col,.small-columns-6>.col{flex-basis:16.6666666667%;max-width:16.6666666667%}
.small-columns-7 .flickity-slider>.col,.small-columns-7>.col{flex-basis:14.2857142857%;max-width:14.2857142857%}
.small-columns-8 .flickity-slider>.col,.small-columns-8>.col{flex-basis:12.5%;max-width:12.5%}
@media screen and (min-width:550px){.medium-12,.medium-columns-1 .flickity-slider>.col,.medium-columns-1>.col{flex-basis:100%;max-width:100%}.medium-columns-2 .flickity-slider>.col,.medium-columns-2>.col{flex-basis:50%;max-width:50%}.medium-columns-3 .flickity-slider>.col,.medium-columns-3>.col{flex-basis:33.3333333333%;max-width:33.3333333333%}.medium-columns-4 .flickity-slider>.col,.medium-columns-4>.col{flex-basis:25%;max-width:25%}.medium-columns-5 .flickity-slider>.col,.medium-columns-5>.col{flex-basis:20%;max-width:20%}.medium-columns-6 .flickity-slider>.col,.medium-columns-6>.col{flex-basis:16.6666666667%;max-width:16.6666666667%}.medium-columns-7 .flickity-slider>.col,.medium-columns-7>.col{flex-basis:14.2857142857%;max-width:14.2857142857%}.medium-columns-8 .flickity-slider>.col,.medium-columns-8>.col{flex-basis:12.5%;max-width:12.5%}}
@media screen and (min-width:850px){.gallery-columns-1 .gallery-item,.large-12,.large-columns-1 .flickity-slider>.col,.large-columns-1>.col{flex-basis:100%;max-width:100%}.gallery-columns-2 .gallery-item,.large-columns-2 .flickity-slider>.col,.large-columns-2>.col{flex-basis:50%;max-width:50%}.gallery-columns-3 .gallery-item,.large-columns-3 .flickity-slider>.col,.large-columns-3>.col{flex-basis:33.3333333333%;max-width:33.3333333333%}.gallery-columns-4 .gallery-item,.large-columns-4 .flickity-slider>.col,.large-columns-4>.col{flex-basis:25%;max-width:25%}.gallery-columns-5 .gallery-item,.large-columns-5 .flickity-slider>.col,.large-columns-5>.col{flex-basis:20%;max-width:20%}.gallery-columns-6 .gallery-item,.large-columns-6 .flickity-slider>.col,.large-columns-6>.col{flex-basis:16.6666666667%;max-width:16.6666666667%}.gallery-columns-7 .gallery-item,.large-columns-7 .flickity-slider>.col,.large-columns-7>.col{flex-basis:14.2857142857%;max-width:14.2857142857%}.gallery-columns-8 .gallery-item,.large-columns-8 .flickity-slider>.col,.large-columns-8>.col{flex-basis:12.5%;max-width:12.5%}}
.container,.full-width .ubermenu-nav{margin-left:auto;margin-right:auto;width:100%}
.container{padding-left:15px;padding-right:15px}
.container,.full-width .ubermenu-nav{max-width:1080px}
body.boxed .header-wrapper,body.framed .header-wrapper{max-width:1170px}
.flex-row{align-items:center;display:flex;flex-flow:row nowrap;justify-content:space-between;width:100%}
.flex-row-col{display:flex;flex-direction:column;justify-content:flex-start}
.text-center .flex-row{justify-content:center}
.header .flex-row{height:100%}
.flex-col{max-height:100%}
.flex-grow{-ms-flex-negative:1;-ms-flex-preferred-size:auto!important;flex:1}
.flex-left{margin-right:auto}
.flex-right{margin-left:auto}
.flex-has-center>.flex-col:not(.flex-center),.flex-has-center>.flex-row>.flex-col:not(.flex-center),.flex-has-center>.nav-row>.flex-col:not(.flex-center){flex:1}
@media(max-width:849px){.medium-flex-wrap .flex-col{flex-grow:0;padding-bottom:5px;padding-top:5px;width:100%}.medium-text-center .flex-row{justify-content:center}}
@media(max-width:549px){.small-flex-wrap .flex-col{flex-grow:0;width:100%}}
.grid-col .banner,.grid-col .box,.grid-col .box-image,.grid-col .box-image img,.grid-col .col-inner>.img,.grid-col .flickity-slider>.img,.grid-col .image-cover,.grid-col .image-cover img,.grid-col .slider,.grid-col .slider-wrapper,.grid-col .slider:not(.flickity-enabled),.grid-col .slider>.img,.grid-col>.col-inner>.img,.grid-col>.col-inner>.img .img-inner>img,.grid-col>.col-inner>.img div{bottom:0;height:100%;-o-object-fit:cover;object-fit:cover;padding:0!important;position:absolute!important;top:0;width:100%}
.grid-col .slider:not(.flickity-enabled)>*{position:relative!important}
.grid-col .flickity-viewport{height:100%!important}
@media (-ms-high-contrast:none){.slider-nav-circle .flickity-prev-next-button svg{height:36px!important}.nav>li>a>i{top:-1px}}
.container .row:not(.row-collapse){margin-left:-15px;margin-right:-15px;padding-left:0;padding-right:0;width:auto}
.row .container{padding-left:0;padding-right:0}
.banner+.row:not(.row-collapse),.banner-grid-wrapper+.row:not(.row-collapse),.section+.row:not(.row-collapse),.slider-wrapper+.row:not(.row-collapse){margin-top:30px}
.row-collapse>.col,.row-collapse>.flickity-viewport>.flickity-slider>.col{padding:0!important}
.row-collapse>.col .container{max-width:100%}
.container .row-small:not(.row-collapse){margin-bottom:0;margin-left:-10px;margin-right:-10px}
.row-small>.col,.row-small>.flickity-viewport>.flickity-slider>.col{margin-bottom:0;padding:0 9.8px 19.6px}
.container .row-xsmall:not(.row-collapse){margin-bottom:0;margin-left:-2px;margin-right:-2px}
.row-xsmall>.col,.row-xsmall>.flickity-viewport>.flickity-slider>.col{margin-bottom:0;padding:0 2px 3px}
@media screen and (min-width:850px){.container .row-large:not(.row-collapse){margin-bottom:0;margin-left:-30px;margin-right:-30px}.row-large>.col,.row-large>.flickity-viewport>.flickity-slider>.col{margin-bottom:0;padding:0 30px 30px}}
.container .section{padding-left:30px;padding-right:30px}
.nav-dropdown{background-color:#fff;color:var(--fs-color-base);display:table;left:-99999px;margin:0;max-height:0;min-width:260px;opacity:0;padding:20px 0;position:absolute;text-align:left;transition:opacity .25s,visibility .25s;visibility:hidden;z-index:9}
.dark.nav-dropdown{color:#f1f1f1}
.nav-dropdown:after{clear:both;content:"";display:block;height:0;visibility:hidden}
.nav-dropdown li{display:block;margin:0;vertical-align:top}
.nav-dropdown li ul{margin:0;padding:0}
.nav-dropdown>li.html{min-width:260px}
.next-prev-thumbs li.has-dropdown:hover>.nav-dropdown,.no-js li.has-dropdown:hover>.nav-dropdown,li.current-dropdown>.nav-dropdown{left:-15px;max-height:inherit;opacity:1;visibility:visible}
.nav-right li.current-dropdown:last-child>.nav-dropdown,.nav-right li.has-dropdown:hover:last-child>.nav-dropdown{left:auto;right:-15px}
.nav-dropdown>li>a{display:block;line-height:1.3;padding:10px 20px;width:auto}
.nav-dropdown>li:last-child:not(.nav-dropdown-col)>a{border-bottom:0!important}
.dropdown-uppercase.nav-dropdown .nav-column>li>a,.nav-dropdown.dropdown-uppercase>li>a{font-size:.85em;text-transform:uppercase}
.nav-dropdown>li.image-column,.nav-dropdown>li.nav-dropdown-col{display:table-cell;min-width:160px;text-align:left;white-space:nowrap;width:160px}
.nav-dropdown>li.image-column:not(:last-child),.nav-dropdown>li.nav-dropdown-col:not(:last-child){border-right:1px solid transparent}
.nav-dropdown .menu-item-has-children>a,.nav-dropdown .nav-dropdown-col>a,.nav-dropdown .title>a{color:#000;font-size:.8em;font-weight:bolder;text-transform:uppercase}
.nav-dropdown .nav-dropdown-col .menu-item-has-children{margin-top:5px}
.nav-dropdown li.image-column{border:0!important;margin:0!important;padding:0!important}
.nav-dropdown li.image-column>a{font-size:0!important;line-height:0!important;margin:-20px 0!important;padding:0!important}
.nav-dropdown li.image-column>a img{display:block;margin:0;width:100%}
.nav-dropdown li.image-column>a:hover{opacity:.8}
.nav-dropdown-default li.image-column:first-child>a{margin-left:-20px!important;margin-right:20px!important}
.nav-dropdown-default li.image-column:last-child>a{margin-right:-20px!important}
.nav-dropdown.nav-dropdown-bold>li.nav-dropdown-col,.nav-dropdown.nav-dropdown-simple>li.nav-dropdown-col{border-color:#f1f1f1}
.nav-dropdown-default .nav-column li>a,.nav-dropdown.nav-dropdown-default>li>a{border-bottom:1px solid #ececec;margin:0 10px;padding-left:0;padding-right:0}
.nav-dropdown-default{padding:20px}
.nav-dropdown.nav-dropdown-bold>li>a{border-radius:10px;margin:0 10px;padding-left:10px;padding-right:5px}
.nav-dropdown.nav-dropdown-bold.dark>li>a:hover,.nav-dropdown.nav-dropdown-bold>li>a:hover{background-color:var(--fs-color-primary);color:#fff!important}
.nav-dropdown.nav-dropdown-simple>li>a:hover{background-color:rgba(0,0,0,.03)}
.nav-dropdown.nav-dropdown-bold li.html,.nav-dropdown.nav-dropdown-simple li.html{padding:0 20px 10px}
.menu-item-has-block .nav-dropdown{padding:0}
.menu-item-has-block .nav-dropdown .col-inner ul:not(.nav.nav-vertical) li:not(.tab):not([class^=bullet-]){display:list-item;margin-left:1.3em!important}
li.has-dropdown:hover>.nav-dropdown-full{display:flex;flex-wrap:wrap;left:50%!important;margin-left:0!important;margin-right:0!important;max-width:1150px!important;position:fixed;right:auto;transform:translateX(-50%);transition:opacity .3s!important;width:100%}
.nav-dropdown-has-arrow li.has-dropdown:after,.nav-dropdown-has-arrow li.has-dropdown:before{border:solid transparent;bottom:-2px;content:"";height:0;left:50%;opacity:0;pointer-events:none;position:absolute;width:0;z-index:10}
.nav-dropdown-has-arrow li.has-dropdown:after{border-color:hsla(0,0%,87%,0) hsla(0,0%,87%,0) #fff;border-width:8px;margin-left:-8px}
.nav-dropdown-has-arrow li.has-dropdown:before{border-width:11px;margin-left:-11px;z-index:-999}
.nav-dropdown-has-arrow .ux-nav-vertical-menu .menu-item-design-default:after,.nav-dropdown-has-arrow .ux-nav-vertical-menu .menu-item-design-default:before,.nav-dropdown-has-arrow li.has-dropdown.menu-item-design-container-width:after,.nav-dropdown-has-arrow li.has-dropdown.menu-item-design-container-width:before,.nav-dropdown-has-arrow li.has-dropdown.menu-item-design-full-width:after,.nav-dropdown-has-arrow li.has-dropdown.menu-item-design-full-width:before{display:none}
.nav-dropdown-has-shadow .nav-dropdown{box-shadow:1px 1px 15px rgba(0,0,0,.15)}
.nav-dropdown-has-arrow.nav-dropdown-has-border li.has-dropdown:before{border-bottom-color:#ddd}
.nav-dropdown-has-border .nav-dropdown{border:2px solid #ddd}
.nav-dropdown-has-arrow li.current-dropdown.has-dropdown:after,.nav-dropdown-has-arrow li.current-dropdown.has-dropdown:before{opacity:1;transition:opacity .25s}
.label-hot.menu-item>a:after,.label-new.menu-item>a:after,.label-popular.menu-item>a:after,.label-sale.menu-item>a:after{background-color:#000;border-radius:2px;color:#fff;content:"";display:inline-block;font-size:9px;font-weight:bolder;letter-spacing:-.1px;line-height:9px;margin-left:4px;padding:2px 3px 3px;position:relative;text-transform:uppercase;top:-2px}
.label-new.menu-item>a:after{background-color:var(--fs-color-primary)}
.label-sale.menu-item>a:after{background-color:var(--fs-color-secondary)}
.label-popular.menu-item>a:after{background-color:var(--fs-color-success)}
.label-hot.menu-item>a:after{background-color:var(--fs-color-alert)}
.nav p{margin:0;padding-bottom:0}
.nav,.nav ul:not(.nav-dropdown){margin:0;padding:0}
.nav>li>a.button,.nav>li>button{margin-bottom:0}
.nav{align-items:center;display:flex;flex-flow:row wrap;width:100%}
.nav,.nav>li{position:relative}
.nav>li{display:inline-block;list-style:none;margin:0 7px;padding:0;transition:background-color .3s}
.nav>li>a{align-items:center;display:inline-flex;flex-wrap:wrap;padding:10px 0}
.html .nav>li>a{padding-bottom:0;padding-top:0}
.nav-small .nav>li>a,.nav.nav-small>li>a{font-weight:400;padding-bottom:5px;padding-top:5px;vertical-align:top}
.nav-small.nav>li.html{font-size:.75em}
.nav-left{justify-content:flex-start}
.nav-right{justify-content:flex-end}
.nav-dropdown>li>a,.nav>li>a{color:rgba(74,74,74,.85);transition:all .2s}
.nav-dropdown>li>a{display:block}
.nav-dropdown li.active>a,.nav-dropdown>li>a:hover,.nav>li.active>a,.nav>li.current>a,.nav>li>a.active,.nav>li>a.current,.nav>li>a:hover{color:hsla(0,0%,7%,.85)}
.nav li:first-child{margin-left:0!important}
.nav li:last-child{margin-right:0!important}
.nav-uppercase>li>a{font-weight:bolder;letter-spacing:.02em;text-transform:uppercase}
li.html .row,li.html form,li.html input,li.html select{margin:0}
li.html>.button{margin-bottom:0}
.mobile-sidebar-levels-1 .nav-slide>li>.sub-menu{-webkit-overflow-scrolling:touch;bottom:0;display:none;left:100%;opacity:1;overflow:visible;overflow-y:auto;padding-bottom:20px;padding-right:0;padding-top:20px;position:fixed;top:0;transform:none;width:100%}
.mobile-sidebar-levels-1 .nav-slide>li>.sub-menu>li{align-items:center;display:flex;flex-flow:row wrap}
.mobile-sidebar-levels-1 .nav-slide>li>.sub-menu.is-current-slide{display:block}
.mobile-sidebar-levels-1 .nav-slide>li>.sub-menu.is-current-parent{overflow-y:hidden;padding-right:100%;width:200%}
.mobile-sidebar-levels-2 .nav-slide>li>.sub-menu>li:not(.nav-slide-header){border-top:1px solid #ececec;margin-bottom:0;margin-top:0;transition:background-color .3s}
.mobile-sidebar-levels-2 .nav-slide>li>.sub-menu>li:not(.nav-slide-header)>a{color:rgba(74,74,74,.85);font-size:.8em;letter-spacing:.02em;padding-bottom:15px;padding-left:20px;padding-top:15px;text-transform:uppercase}
.mobile-sidebar-levels-2 .nav-slide>li>.sub-menu>li:not(.nav-slide-header).active,.mobile-sidebar-levels-2 .nav-slide>li>.sub-menu>li:not(.nav-slide-header):hover{background-color:rgba(0,0,0,.05)}
.mobile-sidebar-levels-2 .nav-slide>li>.sub-menu>li:not(.nav-slide-header)>.sub-menu,.mobile-sidebar-levels-2 .nav-slide>li>.sub-menu>li:not(.nav-slide-header)>ul.children,.mobile-sidebar-levels-2 .nav-slide>li>ul.children>li:not(.nav-slide-header)>.sub-menu{-webkit-overflow-scrolling:touch;bottom:0;display:none;left:200%;opacity:1;overflow:visible;overflow-y:auto;padding-bottom:20px;padding-right:0;padding-top:20px;position:fixed;top:0;transform:none;width:100%}
.mobile-sidebar-levels-2 .nav-slide>li>.sub-menu>li:not(.nav-slide-header)>.sub-menu>li,.mobile-sidebar-levels-2 .nav-slide>li>.sub-menu>li:not(.nav-slide-header)>ul.children>li,.mobile-sidebar-levels-2 .nav-slide>li>ul.children>li:not(.nav-slide-header)>.sub-menu>li{align-items:center;display:flex;flex-flow:row wrap}
.mobile-sidebar-levels-2 .nav-slide>li>.sub-menu>li:not(.nav-slide-header)>.sub-menu.is-current-slide,.mobile-sidebar-levels-2 .nav-slide>li>.sub-menu>li:not(.nav-slide-header)>ul.children.is-current-slide,.mobile-sidebar-levels-2 .nav-slide>li>ul.children>li:not(.nav-slide-header)>.sub-menu.is-current-slide{display:block}
.mobile-sidebar-levels-2 .nav-slide>li>.sub-menu>li:not(.nav-slide-header)>.sub-menu.is-current-parent,.mobile-sidebar-levels-2 .nav-slide>li>.sub-menu>li:not(.nav-slide-header)>ul.children.is-current-parent,.mobile-sidebar-levels-2 .nav-slide>li>ul.children>li:not(.nav-slide-header)>.sub-menu.is-current-parent{overflow-y:hidden;padding-right:100%;width:200%}
.text-center .nav-slide-header .toggle{margin-left:auto!important;margin-right:auto!important;width:auto}
.nav:hover>li:not(:hover)>a:before{opacity:0}
.nav-box>li.active>a{background-color:var(--fs-color-primary);color:#fff;opacity:1}
.nav-dark .nav.nav-tabs>li.active>a{color:#000}
.tabbed-content .nav{width:100%}
.nav-box>li{margin:0}
.nav-box>li>a{line-height:2.5em;padding:0 .75em}
.sidebar-menu-tabs.nav>li{margin:0}
.sidebar-menu-tabs.nav>li>a{display:flex;padding:15px 10px}
.active>ul.sub-menu:not(.nav-dropdown){display:block!important}
.nav.nav-vertical{flex-flow:column}
.nav.nav-vertical li{list-style:none;margin:0;width:100%}
.nav-vertical li li.menu-item-has-children{margin-bottom:1em}
.nav-vertical li li.menu-item-has-children:not(:first-child){margin-top:1em}
.nav-vertical li li.menu-item-has-children>a{color:#000;font-size:.8em;font-weight:bolder;text-transform:uppercase}
.nav-vertical>li.html{padding-bottom:1em;padding-top:1em}
.nav .children{left:-99999px;opacity:0;position:fixed;transform:translateX(-10px);transition:background-color .6s,transform .3s,opacity .3s}
@media(prefers-reduced-motion){.nav .children{opacity:1;transform:none}}
.nav:not(.nav-slide) .active>.children{left:auto;opacity:1;padding-bottom:30px;position:inherit;transform:translateX(0)}
.nav-sidebar.nav-vertical>li.menu-item.active,.nav-sidebar.nav-vertical>li.menu-item:hover{background-color:rgba(0,0,0,.05)}
.text-center .toggle{margin-left:-35px}
.text-center .nav-vertical li{border:0}
.text-center .nav-vertical li li,.text-center.nav-vertical li li{padding-left:0}
.nav-vertical .header-button{display:block;width:100%}
.header-vertical-menu__fly-out .nav-vertical-fly-out>li.menu-item{list-style:none;margin:0;position:static}
.header-vertical-menu__fly-out .nav-vertical-fly-out>li.menu-item[class*=" label-"]>a:after,.header-vertical-menu__fly-out .nav-vertical-fly-out>li.menu-item[class^=label-]>a:after{order:2;top:0}
.header-vertical-menu__fly-out .nav-vertical-fly-out>li.menu-item>a>i.icon-angle-down{margin-left:auto;margin-right:-.1em;order:3;transform:rotate(-90deg)}
.header-vertical-menu__fly-out .nav-vertical-fly-out>li.menu-item>a{align-items:center;display:flex;padding:10px 15px}
.header-vertical-menu__fly-out .nav-top-link{font-size:.9em;order:1}
.header-vertical-menu__fly-out .current-dropdown .nav-dropdown{left:100%!important;top:0}
.header-vertical-menu__fly-out .current-dropdown.menu-item .nav-dropdown{min-height:100%}
.header-wrapper .header-vertical-menu__fly-out{transition:opacity .25s,visibility .25s}
.box-text.text-center{padding-left:10px;padding-right:10px}
.box-label .box-text.text-center{left:50%;margin:10% 0;transform:translateX(-50%)}
.button{background-color:transparent;border:1px solid transparent;border-radius:0;box-sizing:border-box;color:currentColor;cursor:pointer;display:inline-block;font-size:.97em;font-weight:bolder;letter-spacing:.03em;line-height:2.4em;margin-right:1em;margin-top:0;max-width:100%;min-height:2.5em;min-width:24px;padding:0 1.2em;position:relative;text-align:center;text-decoration:none;text-rendering:optimizeLegibility;text-shadow:none;text-transform:uppercase;transition:transform .3s,border .3s,background .3s,box-shadow .3s,opacity .3s,color .3s;vertical-align:middle}
.button span{display:inline-block;line-height:1.6}
.button.is-outline{line-height:2.19em}
.nav>li>a.button,.nav>li>a.button:hover{padding-bottom:0;padding-top:0}
.nav>li>a.button:hover{color:#fff}
.button,input[type=button].button,input[type=reset].button,input[type=submit].button{background-color:var(--fs-color-primary);border-color:rgba(0,0,0,.05);color:#fff}
.button.is-outline{background-color:transparent;border:2px solid}
.button:hover,.dark .button.is-form:hover{box-shadow:inset 0 0 0 100px rgba(0,0,0,.2);color:#fff;opacity:1;outline:none}
.button.is-link,.button.is-underline{background-color:transparent!important;border-color:transparent!important;padding-left:.15em;padding-right:.15em}
.button.is-underline:before{background-color:currentColor;bottom:0;content:"";height:2px;left:20%;opacity:.3;position:absolute;transition:all .3s;width:60%}
.button.is-underline:hover:before{left:0;opacity:1;width:100%}
.is-link{color:#666}
.dark .button.is-link:hover,.dark .button.is-underline:hover{color:#fff;opacity:.8}
.button.is-link:hover,.button.is-underline:hover{box-shadow:none;color:#333}
.button.is-form:hover{background-color:#f1f1f1;color:#000}
.dark .button{color:#fff}
.dark .button.is-form{color:#000}
.primary,input[type=submit].button{background-color:var(--fs-color-primary)}
.primary.is-link,.primary.is-outline,.primary.is-underline{color:var(--fs-color-primary)}
.primary.is-outline:hover{background-color:var(--fs-color-primary);border-color:var(--fs-color-primary);color:#fff}
.success.is-link{color:var(--fs-color-success)}
.white.button.is-outline{background-color:transparent;color:currentColor!important}
.white.is-link{background-color:transparent!important;color:#fff!important}
.button.alt,.button.checkout,.secondary{background-color:var(--fs-color-secondary)}
.secondary.is-link,.secondary.is-outline,.secondary.is-underline{color:var(--fs-color-secondary)}
.secondary.is-outline:hover{background-color:var(--fs-color-secondary);border-color:var(--fs-color-secondary);color:#fff}
a.primary:not(.button),a.secondary:not(.button){background-color:transparent}
.alert.is-link{color:var(--fs-color-alert)}
.text-center .button:first-of-type{margin-left:0!important}
.text-center .button:last-of-type,.text-right .button:last-of-type{margin-right:0!important}
.button.disabled,.button[disabled]{opacity:.6}
.header-buttons .button{margin-bottom:0;margin-right:.65em}
.header-button{display:inline-block}
.header-button .plain.is-outline:not(:hover){color:#999}
.nav-dark .header-button .plain.is-outline:not(:hover){color:#fff}
.header-button .button{margin:0}
.flex-col .button,.flex-col button,.flex-col input{margin-bottom:0}
.is-divider{background-color:rgba(0,0,0,.1);display:block;height:3px;margin:1em 0;max-width:30px;width:100%}
.widget .is-divider{margin-top:.66em}
.dark .is-divider{background-color:hsla(0,0%,100%,.3)}
.flex-row.form-flat .flex-col,.form-flat .flex-row .flex-col{padding-right:4px}
.form-flat .button.icon{background-color:transparent!important;border-color:transparent!important;box-shadow:none;color:currentColor!important}
.flickity-slider>.icon-box,.slider>.icon-box{padding-left:3%!important;padding-right:3%!important}
.has-icon-bg .icon{height:0;overflow:hidden;padding-top:100%;position:relative}
.has-icon-bg .icon .icon-inner{border:2px solid;border-radius:100%;color:var(--fs-color-primary);height:100%;position:absolute;top:0;transition:all .3s;width:100%}
.icon-box:hover .has-icon-bg .icon .icon-inner{background-color:currentColor}
.has-icon-bg .icon i,.has-icon-bg .icon img,.has-icon-bg .icon svg{left:0;margin:0 20%;-o-object-fit:cover;object-fit:cover;padding:0;position:absolute;top:50%;transform:translateY(-50%);width:60%}
.icon-box-left .has-icon-bg .icon{position:absolute;width:100%}
.button i{top:-1.5px;vertical-align:middle}
.button.open-video i{top:-.027em}
a.icon:not(.button),button.icon:not(.button){font-family:sans-serif;font-size:1.2em;margin-left:.25em;margin-right:.25em}
.header a.icon:not(.button){margin-left:.3em;margin-right:.3em}
.header .nav-small a.icon:not(.button){font-size:1em}
.button.icon{display:inline-block;margin-left:.12em;margin-right:.12em;min-width:2.5em;padding-left:.6em;padding-right:.6em}
.button.icon i{font-size:1.2em}
.button.icon i+span{padding-right:.5em}
.button.icon.is-small{border-width:1px}
.button.icon.is-small i{top:-1px}
.button.icon.circle,.button.icon.round{padding-left:0;padding-right:0}
.button.icon.circle>span,.button.icon.round>span{margin:0 8px}
.button.icon.circle>span+i,.button.icon.round>span+i{margin-left:-4px}
.button.icon.circle>i,.button.icon.round>i{margin:0 8px}
.button.icon.circle>i+span,.button.icon.round>i+span{margin-left:-4px}
.button.icon.circle>i:only-child,.button.icon.round>i:only-child{margin:0}
.nav>li>a>i{font-size:20px;transition:color .3s;vertical-align:middle}
.nav>li>a>i+span{margin-left:5px}
.nav li.has-icon-left>a>i,.nav li.has-icon-left>a>img,.nav li.has-icon-left>a>svg{margin-right:5px}
.nav>li>a>span+i{margin-left:5px}
.nav>li>a>i.icon-search{font-size:1.2em}
.nav>li>a>i.icon-menu{font-size:1.9em}
.nav>li.has-icon>a>i{min-width:1em}
.header-button a.icon:not(.button){display:inline-block;padding:6px 0}
.header-button a.icon:not(.button) i{font-size:24px}
.header-button a.icon:not(.button) i.icon-search{font-size:16px}
.nav-small .header-button a.icon:not(.button){padding:3px 0}
.button:not(.icon)>i{margin-left:-.15em;margin-right:.4em}
.button:not(.icon)>span+i{margin-left:.4em;margin-right:-.15em}
.has-dropdown .icon-angle-down{font-size:16px;margin-left:.2em;opacity:.6}
.image-icon{display:inline-block;height:auto;position:relative;vertical-align:middle}
span+.image-icon{margin-left:10px}
.image-icon img{max-width:32px;min-width:100%}
.nav-small .image-icon{height:16px;margin:0 5px;width:16px}
.nav-small .image-icon img{vertical-align:top}
.button [data-icon-label]:after{right:-12px;top:-12px}
.image-tools a.button{display:block}
.image-tools .cart-icon{bottom:100%;left:10px;margin:5px;position:absolute}
.mfp-hide{display:none!important}
.button.loading{color:hsla(0,0%,100%,.05);opacity:1!important;pointer-events:none!important;position:relative}
.button.loading:after{animation:spin .5s linear infinite;border:2px solid #fff;border-radius:32px;border-right-color:transparent!important;border-top-color:transparent!important;content:"";display:block;height:16px;left:50%;margin-left:-8px;margin-top:-8px;position:absolute;top:50%;width:16px}
.is-outline .button.loading:after{border-color:var(--fs-color-primary)}
.off-canvas-center .mfp-content .searchform{margin:0 auto;max-width:260px}
.off-canvas:not(.off-canvas-center) li.html{padding:20px}
.slider-wrapper{position:relative}
.flickity-slider>.img,.slider-wrapper:last-child,.slider>.img{margin-bottom:0}
.row-slider,.slider{position:relative;scrollbar-width:none}
.slider-full .flickity-slider>.col{padding:0!important}
.slider-load-first{max-height:999px;transition:max-height 2s}
.slider-load-first:not(.flickity-enabled){max-height:500px}
.slider-load-first:not(.flickity-enabled)>div{opacity:0}
.slider:not(.flickity-enabled){-ms-overflow-style:-ms-autohiding-scrollbar;overflow-x:scroll;overflow-y:hidden;white-space:nowrap;width:auto}
.row-slider::-webkit-scrollbar,.slider::-webkit-scrollbar{height:0!important;width:0!important}
.slider:not(.flickity-enabled)>*{display:inline-block!important;vertical-align:top;white-space:normal!important}
.slider:not(.flickity-enabled)>a,.slider>a,.slider>a>img,.slider>div:not(.col),.slider>img,.slider>p{width:100%}
.flickity-slider>a,.flickity-slider>a>img,.flickity-slider>div:not(.col),.flickity-slider>figure,.flickity-slider>img,.flickity-slider>p{margin:0;padding:0;transition:transform .6s,opacity .6s,box-shadow .6s;width:100%!important}
.flickity-slider>.row:not(.is-selected){opacity:0}
.flickity-enabled{display:block;position:relative}
.flickity-enabled:focus{outline:none}
.flickity-viewport{height:100%;overflow:hidden;position:relative;width:100%}
.flickity-slider{height:100%;position:absolute;width:100%}
.slider-has-parallax .bg{transition:opacity .3s!important}
.is-dragging .flickity-viewport .flickity-slider{pointer-events:none}
.flickity-enabled.is-draggable{-webkit-tap-highlight-color:rgba(0,0,0,0);tap-highlight-color:transparent;-webkit-user-select:none;-moz-user-select:none;user-select:none}
.flickity-enabled.is-draggable .flickity-viewport{cursor:move;cursor:grab}
.flickity-enabled.is-draggable .flickity-viewport.is-pointer-down{cursor:grabbing}
.flickity-prev-next-button{background-color:transparent;border:none;bottom:40%;color:#111;cursor:pointer;margin:0;opacity:0;padding:0;position:absolute;top:40%;transition:transform .3s,opacity .3s,background .3s,box-shadow .3s;width:36px}
.flickity-prev-next-button.next{right:2%;transform:translateX(-20%)}
.flickity-prev-next-button.previous{left:2%;transform:translateX(20%)}
.slider-show-nav .flickity-prev-next-button,.slider:hover .flickity-prev-next-button{opacity:.7;transform:translateX(0)!important}
.slider .flickity-prev-next-button:hover{box-shadow:none;opacity:1}
.slider .flickity-prev-next-button:hover .arrow,.slider .flickity-prev-next-button:hover svg{fill:var(--fs-color-primary)}
@media(min-width:850px){.slider-nav-outside .flickity-prev-next-button.next{left:100%;right:auto}.slider-nav-outside .flickity-prev-next-button.previous{left:auto;right:100%}}
.flickity-prev-next-button:disabled,button.flickity-prev-next-button[disabled]{background:none!important;box-shadow:none!important;cursor:auto;opacity:0!important;pointer-events:none}
.flickity-prev-next-button svg{height:auto;left:50%;max-height:100%;max-width:100%;padding:20%;position:absolute;top:50%;transform:translate(-50%,-50%);transition:all .3s;width:100%}
.slider-nav-push:not(.slider-nav-reveal) .flickity-prev-next-button{margin-top:-10%}
.slider-nav-push.slider-nav-reveal .flickity-prev-next-button svg{margin-top:-40px}
.flickity-prev-next-button .arrow,.flickity-prev-next-button svg{fill:currentColor;border-color:currentColor;transition:all .3s}
.animate-height,.slider-auto-height{transition:height .2s}
.flickity-prev-next-button.no-svg{color:#111;font-size:26px}
.slider-no-arrows .flickity-prev-next-button{display:none!important}
.slider-type-fade .flickity-slider{transform:none!important}
.slider-type-fade .flickity-slider>*{left:0!important;opacity:0;z-index:1}
.slider-type-fade .flickity-slider>.is-selected{opacity:1;z-index:2}
.slider-type-fade .flickity-page-dots,.slider-type-fade .flickity-prev-next-button{z-index:3}
@media screen and (min-width:850px){.slider-type-fade.product-gallery-stacked .flickity-slider>*{opacity:unset}}
@media(prefers-reduced-motion){.flickity-prev-next-button.next,.flickity-prev-next-button.previous{transform:none!important}}
.flickity-page-dots{bottom:15px;left:20%;line-height:1;list-style:none;margin:0;padding:0;position:absolute;right:20%;text-align:center}
.row-slider .flickity-page-dots{bottom:0}
.flickity-rtl .flickity-page-dots{direction:rtl}
.flickity-page-dots .dot{border:3px solid #111;border-radius:50%;cursor:pointer;display:inline-block;height:12px;margin:0 5px;opacity:.4;transition:opacity .3s;width:12px}
.nav-dots-small .flickity-page-dots .dot,.row-slider .flickity-page-dots .dot{background-color:#111;border:0;height:10px;opacity:.2;width:10px}
.flickity-page-dots .dot:hover{opacity:.7}
.flickity-page-dots .dot:first-child:last-child{display:none}
.flickity-page-dots .dot.is-selected{background-color:#111;opacity:1!important}
.slider-nav-dots-dashes .flickity-page-dots .dot{border-radius:0;height:4px;margin:0;width:40px}
.slider-nav-dots-dashes-spaced .flickity-page-dots .dot{border-radius:0;height:4px;width:40px}
.slider-nav-dots-simple .flickity-page-dots .dot{background-color:#111}
.slider-nav-dots-square .flickity-page-dots .dot{border-radius:0}
.slider-nav-circle .flickity-prev-next-button .arrow,.slider-nav-circle .flickity-prev-next-button svg{border:2px solid;border-radius:100%}
.slider-nav-circle .flickity-prev-next-button:hover .arrow,.slider-nav-circle .flickity-prev-next-button:hover svg{fill:#fff!important;background-color:var(--fs-color-primary);border-color:var(--fs-color-primary)}
.slider-nav-outside.slider-nav-circle .next{margin-left:10px}
.slider-nav-outside.slider-nav-circle .previous{margin-right:10px}
.slider-nav-reveal{overflow:hidden;padding-top:0}
.slider-nav-reveal .flickity-prev-next-button,.slider-nav-reveal .flickity-prev-next-button:hover{background-color:#fff;bottom:0;box-shadow:0 -150px 15px 0 rgba(0,0,0,.3);height:100%;margin:0!important;top:-2px;width:30px}
.dark .slider-nav-reveal .flickity-prev-next-button{background-color:rgba(0,0,0,.3);border-radius:99px;color:#fff}
.slider-nav-reveal .flickity-prev-next-button.next{left:auto!important;right:-1px!important;transform:translateX(10%)}
.slider-nav-reveal .flickity-prev-next-button.previous{left:-1px!important;right:auto!important;transform:translateX(-10%)}
.slider-nav-light .flickity-prev-next-button{color:#fff}
.slider-nav-light .flickity-prev-next-button .arrow,.slider-nav-light .flickity-prev-next-button svg{fill:#fff}
.slider-nav-light .flickity-page-dots .dot{border-color:#fff}
.slider-nav-light .flickity-page-dots .dot.is-selected,.slider-nav-light.slider-nav-dots-simple .flickity-page-dots .dot{background-color:#fff}
.slider-style-container .flickity-slider>*,.slider-style-focus .flickity-slider>*,.slider-style-shadow .flickity-slider>*{margin:0 auto;max-width:1080px}
.slider-style-container:not(.flickity-enabled) .ux_banner,.slider-style-focus:not(.flickity-enabled) .ux_banner,.slider-style-shadow:not(.flickity-enabled) .ux_banner{opacity:0!important}
.slider-style-container .ux_banner,.slider-style-focus .ux_banner,.slider-style-shadow .ux_banner{opacity:1}
.slider-style-container .flickity-slider>:not(.is-selected),.slider-style-focus .flickity-slider>:not(.is-selected),.slider-style-shadow .flickity-slider>:not(.is-selected){opacity:.5}
.slider-style-shadow{padding:15px 0 25px}
.slider-style-shadow .flickity-slider>:before{background-image:url(../img/shadow@2x.png);background-size:100% 100%;bottom:-6px;content:"";height:100px;left:-10%;position:absolute;right:-10%;z-index:-2}
.slider-style-shadow .flickity-slider>:not(.is-selected){opacity:1;transform:scale(.9);z-index:-1}
.slider-style-shadow .flickity-slider>:not(.is-selected):before{height:200px;opacity:.5}
.slider-style-shadow .flickity-slider>.is-selected{transform:scale(.95)}
.slider-style-focus{background-color:transparent;padding:30px 0}
.slider-style-focus .flickity-page-dots{bottom:6px}
.slider-style-focus .flickity-slider>*{max-width:1050px}
.slider-style-focus .flickity-slider>:not(.is-selected){transform:scale(.93)}
@media screen and (max-width:549px){.slider-wrapper .flickity-prev-next-button{display:none}.row-slider .flickity-prev-next-button{background-color:transparent!important;box-shadow:none!important;opacity:.8;transform:translateX(0)!important;width:20px!important}.row-slider .flickity-prev-next-button svg{border:0!important;padding:3px!important}.flickity-page-dots{pointer-events:none}.flickity-slider .banner-layers{overflow:hidden}}
.button:focus:not(:focus-visible){outline:none}
.button:focus-visible{outline:2px solid currentColor;outline-offset:2px}
.primary:focus-visible,.submit-button:focus-visible{outline-color:var(--fs-color-primary)}
.secondary:focus-visible{outline-color:var(--fs-color-secondary)}
.next-prev-nav .flex-col{padding:.7em 0}
.next-prev-nav .flex-col+.flex-col{border-left:1px solid #ececec}
.button{margin-bottom:1em}
.uppercase{letter-spacing:.05em;line-height:1.05;text-transform:uppercase}
.is-normal{font-weight:400}
.uppercase{line-height:1.2;text-transform:uppercase}
.is-small,.is-small.button{font-size:.8em}
.box-text .button{margin-top:1em}
.banner .button{margin-bottom:.5em;margin-top:.5em}
.banner .is-divider,.banner .text-center .is-divider{margin-bottom:1em;margin-top:1em}
.nav>li>a{font-size:.8em}
.nav>li.html{font-size:.85em}
.nav-spacing-large>li{margin:0 11px}
.container:after{clear:both;content:"";display:table}
@media(min-width:850px){.show-for-medium{display:none!important}}
@media(max-width:849px){.hide-for-medium{display:none!important}}
.full-width{display:block;max-width:100%!important;padding-left:0!important;padding-right:0!important;width:100%!important}
.mb-0{margin-bottom:0!important}
.pb{padding-bottom:30px}
.pt{padding-top:30px}
.inner-padding{padding:30px}
.text-left{text-align:left}
.text-center{text-align:center}
.text-center .is-divider,.text-center .is-star-rating,.text-center .star-rating,.text-center>div,.text-center>div>div{margin-left:auto;margin-right:auto}
.text-center .pull-left,.text-center .pull-right{float:none}
.text-left .is-divider,.text-left .is-star-rating,.text-left .star-rating{margin-left:0;margin-right:auto}
.text-right .is-divider{margin-left:auto;margin-right:0}
.relative{position:relative!important}
.fill{bottom:0}
.fill{height:100%;left:0;margin:0!important;padding:0!important;position:absolute;right:0;top:0}
.z-top{z-index:9995}
.flex{display:flex}
.screen-reader-text{clip:rect(1px,1px,1px,1px);height:1px;overflow:hidden;position:absolute!important;width:1px}
.screen-reader-text:focus{clip:auto!important;background-color:#f1f1f1;border-radius:3px;box-shadow:0 0 2px 2px rgba(0,0,0,.6);color:#21759b;display:block;font-size:14px;font-size:.875rem;font-weight:700;height:auto;left:5px;line-height:normal;padding:15px 23px 14px;text-decoration:none;top:5px;width:auto;z-index:100000}
@media(prefers-reduced-motion:no-preference){.slider [data-animate],[data-animate]{animation-fill-mode:forwards;-webkit-backface-visibility:hidden;opacity:0!important;transition:filter 1.3s,transform 1.6s,opacity .7s ease-in;will-change:filter,transform,opacity}.slider [data-animate]:not([data-animate-transform]),[data-animate]:not([data-animate-transform]){transform:none!important}.slider [data-animate]:not([data-animate-transition]),[data-animate]:not([data-animate-transition]){transition:none!important}.slider [data-animate=bounceInDown],.slider [data-animate=bounceInLeft],.slider [data-animate=bounceInRight],.slider [data-animate=bounceInUp],[data-animate=bounceInDown],[data-animate=bounceInLeft],[data-animate=bounceInRight],[data-animate=bounceInUp]{transition:transform .8s cubic-bezier(0,.195,0,1.465),opacity .5s ease-in}.slider [data-animate=bounceInLeft],[data-animate=bounceInLeft]{transform:translate3d(-300px,0,0)}.slider [data-animate=blurIn],[data-animate=blurIn]{filter:blur(15px)}.slider [data-animate=fadeInLeft],[data-animate=fadeInLeft]{transform:translate3d(-70px,0,0)}.slider [data-animate=fadeInRight],[data-animate=fadeInRight]{transform:translate3d(70px,0,0)}.slider [data-animate=bounceInUp],.slider [data-animate=fadeInUp],[data-animate=bounceInUp],[data-animate=fadeInUp]{transform:translate3d(0,70px,0)}.slider [data-animate=bounceInRight],[data-animate=bounceInRight]{transform:translate3d(300px,0,0)}.slider [data-animate=bounceIn],[data-animate=bounceIn]{transform:scale(1.3)}.slider [data-animate=bounceInDown],.slider [data-animate=fadeInDown],[data-animate=bounceInDown],[data-animate=fadeInDown]{transform:translate3d(0,-70px,0)}.slider [data-animate=flipInY],[data-animate=flipInY]{backface-visibility:visible;transform:perspective(400px) rotateY(-90deg) translate3d(15px,0,0)}.slider [data-animate=flipInX],[data-animate=flipInX]{backface-visibility:visible;transform:perspective(400px) rotateX(90deg) translate3d(0,-15px,0)}.row-slider.slider [data-animated=true],.slider .is-selected [data-animated=true],[data-animated=true]{animation-delay:.1s;opacity:1!important;transform:translateZ(0) scale(1)}.flickity-slider>:not(.is-selected) [data-animated=true]{transition:transform .7s,opacity .3s!important}.slider [data-animate=none],[data-animate=none]{opacity:1!important}.slider [data-animate=blurIn][data-animated=true],[data-animated=true][data-animate=blurIn]{filter:blur(0)}.slider-type-fade .flickity-slider>:not(.is-selected) [data-animate]{opacity:0!important;transition:none!important}}
.slider .has-slide-effect{background-color:transparent!important;overflow:hidden}
.slider .has-slide-effect .bg{opacity:0;transition:opacity 1s}
.has-slide-effect.is-selected .bg{opacity:1;transform:scale(1);transition:opacity 1s,transform 20s ease-out}
.slide-fade-in.is-selected .bg{transition:opacity 3.5s}
.slide-fade-in-fast.is-selected .bg{transition:opacity 1.5s}
.slide-zoom-in-fast.is-selected .bg,.slide-zoom-in.is-selected .bg{transform:scale(1.2)}
.slide-zoom-out-fast.is-selected .bg{transition:opacity 1s,transform 5s ease-out}
.dark .heading-font{color:#fff}
.dark .nav-vertical li li.menu-item-has-children>a,.dark .nav>li.html,.dark .nav>li>a,.nav-dark .nav>li>a,.nav-dark .nav>li>button,.nav-dropdown.dark .nav-column>li>a,.nav-dropdown.dark>li>a{color:hsla(0,0%,100%,.8)}
.dark .nav>li.active>a,.dark .nav>li>a.active,.dark .nav>li>a:hover,.nav-dark .nav>li.active>a,.nav-dark .nav>li.current>a,.nav-dark .nav>li>a.active,.nav-dark .nav>li>a:hover,.nav-dropdown.dark .nav-column>li>a:hover,.nav-dropdown.dark>li>a:hover{color:#fff}
.dark.nav-dropdown.nav-dropdown-bold>li.nav-dropdown-col,.dark.nav-dropdown.nav-dropdown-simple>li.nav-dropdown-col,.nav-dark .nav>li.header-divider,.nav-dropdown.dark .nav-column>li>a,.nav-dropdown.dark>li>a{border-color:hsla(0,0%,100%,.2)}
.dark .nav-vertical li li.menu-item-has-children>a,.nav-dark .header-button,.nav-dark .nav-vertical li li.menu-item-has-children>a,.nav-dark .nav>li.html{color:#fff}
.nav-box a:hover span.amount{color:currentColor}
#main,#wrapper{background-color:#fff;position:relative}
#main.dark{background-color:#333}
.header,.header-wrapper{background-position:50% 0;background-size:cover;position:relative;transition:background-color .3s,opacity .3s;width:100%;z-index:1001}
.header-bg-color{background-color:hsla(0,0%,100%,.9)}
.header-bottom{align-items:center;display:flex;flex-wrap:no-wrap}
.header.has-transparent,.header.show-on-scroll,.header.transparent{position:absolute}
.header.show-on-scroll:not(.stuck),.header.transparent:not(.stuck){left:auto;right:auto}
.header.show-on-scroll .header-wrapper{opacity:0;transition:opacity .3s;visibility:hidden}
.header.show-on-scroll .header-wrapper.stuck{opacity:1;visibility:visible}
.header.transparent .header-bg-color,.header.transparent .header-bg-image,.header.transparent .header-bottom,.header.transparent .header-wrapper{background-color:transparent;background-image:none!important;box-shadow:none}
.header-bg-color,.header-bg-image{background-position:50% 0;transition:background .4s}
.header-main{position:relative;z-index:10}
.header-bottom{min-height:35px;position:relative;z-index:9}
.top-divider{border-top:1px solid;margin-bottom:-1px;opacity:.1}
.nav-dark .top-divider{display:none}
.sticky-jump .stuck:not(.ux-no-animation){animation:stuckMoveDown .6s}
.sticky-shrink .stuck .header-main{transition:height .8s}
.stuck .header-inner,.stuck .logo,.stuck .logo img{margin-top:0;padding-top:0}
.header-wrapper:not(.stuck) .logo img{transition:max-height .5s}
.header.show-on-scroll .hide-for-sticky{display:none}
.header-shadow .header-wrapper,.header-wrapper.stuck,.layout-shadow #wrapper{box-shadow:1px 1px 10px rgba(0,0,0,.15)}
.nav>li.header-divider{border-left:1px solid rgba(0,0,0,.1);height:30px;margin:0 7.5px;position:relative;vertical-align:middle}
.nav-dark .nav>li.header-divider{border-color:hsla(0,0%,100%,.1)}
.header-full-width .container{max-width:100%!important}
@media(prefers-reduced-motion){.sticky-jump .stuck{animation-name:stuckFadeIn}}
.entry-header-text.text-center{padding-left:1.5em;padding-right:1.5em}
.blog-featured-title+#main .post-sidebar{padding-top:30px}
.box-blog-post .is-divider{height:2px;margin-bottom:.5em;margin-top:.5em}
.widgets-boxed h3+.is-divider{display:none}
.wpcf7 .flex-col .wpcf7-not-valid-tip{margin-top:5px;position:absolute;width:100%;z-index:99}
.absolute-footer.text-center ul{border:0;padding-top:5px}
.logo{line-height:1;margin:0}
.logo a{color:var(--fs-color-primary);display:block;font-size:32px;font-weight:bolder;margin:0;text-decoration:none;text-transform:uppercase}
.logo img{display:block;width:auto}
.header-logo-dark,.nav-dark .header-logo,.sticky .dark .header-logo-dark,.sticky .has-sticky-logo .header-logo{display:none!important}
.nav-dark .header-logo-dark{display:block!important}
.nav-dark .logo a{color:#fff}
.logo-left .logo{margin-left:0;margin-right:30px}
.logo-center .flex-left{flex:1 1 0;order:1}
.logo-center .logo{margin:0 30px;order:2;text-align:center}
.logo-center .logo img{margin:0 auto}
.logo-center .flex-right{flex:1 1 0;order:3}
@media screen and (max-width:849px){.header-inner .nav{flex-wrap:nowrap}.medium-logo-left .logo{margin-left:0;margin-right:15px;order:1}.medium-logo-left .flex-left{flex:1 1 0;order:2}.medium-logo-left .flex-right{flex:1 1 0;order:3}.medium-logo-center .flex-left{flex:1 1 0;order:1}.medium-logo-center .logo{margin:0 15px;order:2;text-align:center}.medium-logo-center .logo img{margin:0 auto}.medium-logo-center .flex-right{flex:1 1 0;order:3}}
.next-prev-thumbs li .button{margin-bottom:0}
.next-prev-thumbs .nav-dropdown{min-width:90px;padding:2px;width:90px}
.pricing-table .items .button:last-child{margin:30px 0 0}
.sidebar-menu .search-form{display:block!important}
.searchform-wrapper form{margin-bottom:0}
.mobile-nav>.search-form,.sidebar-menu .search-form{padding:5px 0;width:100%}
.searchform-wrapper:not(.form-flat) .submit-button,.widget_search .submit-button{border-bottom-left-radius:0!important;border-top-left-radius:0!important}
.searchform{position:relative}
.searchform .button.icon{margin:0}
.searchform .button.icon i{font-size:1.2em}
.searchform-wrapper{width:100%}
.searchform-wrapper.form-flat .submit-button.loading .icon-search{opacity:0}
.searchform-wrapper.form-flat .submit-button.loading:after{border-color:currentColor}
.searchform-wrapper.form-flat .flex-col:last-of-type{margin-left:-2.9em}
@media(max-width:849px){.searchform-wrapper{font-size:1rem}}
.searchform-wrapper .autocomplete-suggestions{-webkit-overflow-scrolling:touch;max-height:50vh;overflow-y:scroll;overflow-y:auto}
.header .search-form .autocomplete-suggestions{max-height:80vh}
.col .live-search-results,.header .search-form .live-search-results,.header-block .live-search-results{background-color:hsla(0,0%,100%,.95);box-shadow:0 0 10px 0 rgba(0,0,0,.1);color:#111;left:0;position:absolute;right:0;text-align:left;top:105%}
.header li .html .live-search-results{background-color:transparent;box-shadow:none;position:relative;top:0}
.banner+.section-title-container,.row-collapse+.section-title-container,.slider-wrapper+.section-title-container{margin-top:30px}
.flatsome-cookies__buttons>.button{margin-bottom:0;margin-right:20px}
.flatsome-cookies__buttons>.button:last-child{margin-right:0}
.ux-shop-ajax-filters .widget_price_filter .price_slider_amount .button{display:none}
.text-center .social-icons{margin-left:auto;margin-right:auto}
.html .social-icons{font-size:1em}
.html .social-icons .button{margin-bottom:0}
.dark .social-icons .button.is-outline,.nav-dark .social-icons .button.is-outline{border-color:hsla(0,0%,100%,.5)}
.social-icons .button.icon:hover,.social-icons .button.icon:not(.is-outline){background-color:currentColor!important;border-color:currentColor!important}
.social-icons .button.icon:hover>i,.social-icons .button.icon:hover>span,.social-icons .button.icon:not(.is-outline)>i,.social-icons .button.icon:not(.is-outline)>span{color:#fff!important}
.button.facebook:hover,.button.facebook:not(.is-outline){color:#3a589d!important}
.button.instagram:hover,.button.instagram:not(.is-outline){color:#3b6994!important}
.button.whatsapp:hover,.button.whatsapp:not(.is-outline){color:#51cb5a!important}
.button.x:hover,.button.x:not(.is-outline){color:#111!important}
.button.twitter:hover,.button.twitter:not(.is-outline){color:#2478ba!important}
.button.email:hover,.button.email:not(.is-outline),.button.threads:hover,.button.threads:not(.is-outline),.button.tiktok:hover,.button.tiktok:not(.is-outline){color:#111!important}
.button.phone:hover,.button.phone:not(.is-outline){color:#51cb5a!important}
.button.pinterest:hover,.button.pinterest:not(.is-outline){color:#cb2320!important}
.button.rss:hover,.button.rss:not(.is-outline){color:#fc7600!important}
.button.tumblr:hover,.button.tumblr:not(.is-outline){color:#36455d!important}
.button.vk:hover,.button.vk:not(.is-outline){color:#527498!important}
.button.google-plus:hover,.button.google-plus:not(.is-outline){color:#dd4e31!important}
.button.linkedin:hover,.button.linkedin:not(.is-outline){color:#0072b7!important}
.button.youtube:hover,.button.youtube:not(.is-outline){color:#c33223!important}
.button.flickr:hover,.button.flickr:not(.is-outline){color:#e5086f!important}
.button.snapchat:hover,.button.snapchat:not(.is-outline){color:#fff600!important}
.button.snapchat:hover i,.button.snapchat:not(.is-outline) i{text-shadow:0 0 6px rgba(0,0,0,.4)}
.button.px500:hover,.button.px500:not(.is-outline){color:#0099e5!important}
.button.telegram:hover,.button.telegram:not(.is-outline){color:#54a9ea!important}
.button.twitch:hover,.button.twitch:not(.is-outline){color:#9146fe!important}
.button.discord:hover,.button.discord:not(.is-outline){color:#7189d9!important}
.product-summary.text-center .ux-product-brands{justify-content:space-evenly}
@media(min-width:1000px){.product-summary.text-center .ux-product-brands{align-items:center;flex-direction:row;float:none;margin-inline:0}.product-summary.text-center .ux-product-brands a{border:none}}
.page-numbers.button.current{opacity:.6;pointer-events:none}
.woocommerce-form-login .button{margin-bottom:0}
@media(max-width:849px){.page-checkout-simple .medium-text-center #logo{margin:0 auto}}
.widget_price_filter .price_slider_amount .button{background-color:#666;border-radius:99px;float:left;font-size:.85em}
#wrapper>.message-wrapper{font-size:1.1em;margin-bottom:10px;outline:0;padding-bottom:.75em;padding-top:.75em}
.container .message-container{padding-left:0;padding-right:0}
#wrapper>.has-transparent~.message-wrapper{background-color:#fff;box-shadow:1px 1px 10px 1px rgba(0,0,0,.1);left:50%;max-width:800px;padding:20px 25px;position:fixed;top:calc(var(--flatsome-scroll-padding-top) + 30px);transform:translate(-50%);transition:top .6s;width:80vw;z-index:1002}
#wrapper>.has-transparent.transparent~.message-wrapper{top:150px}
.my-account-header .button{margin-bottom:5px;margin-top:5px}
.widget_shopping_cart ul.product_list_widget li{padding-right:30px}
.text-center .woocommerce-variation-add-to-cart,.text-center form.cart{justify-content:center}
@media screen and (min-width:850px){.product-gallery-stacked .flickity-slider,.product-gallery-stacked .flickity-viewport{height:auto!important}.product-gallery-stacked .flickity-slider,.product-gallery-stacked .slide{left:0!important;position:relative!important;right:0!important;transform:none!important}.product-gallery-stacked .slide{overflow:hidden}.product-gallery-stacked .slide:not(:last-child){margin-bottom:1.5em}.product-gallery-stacked.product-gallery-grid-layout .flickity-slider,.product-gallery-stacked.product-gallery-grid-layout:not(.flickity-enabled){display:grid;gap:10px}.product-gallery-stacked.product-gallery-grid-layout .flickity-slider .slide,.product-gallery-stacked.product-gallery-grid-layout:not(.flickity-enabled) .slide{margin-bottom:0!important}.product-gallery-stacked.product-gallery-grid-layout--1-2 .flickity-slider,.product-gallery-stacked.product-gallery-grid-layout--1-2:not(.flickity-enabled){grid-template-columns:repeat(2,1fr)}.product-gallery-stacked.product-gallery-grid-layout--1-2 .flickity-slider .slide:first-child,.product-gallery-stacked.product-gallery-grid-layout--1-2:not(.flickity-enabled) .slide:first-child{grid-column:1/3}.product-gallery-stacked.product-gallery-grid-layout--2 .flickity-slider,.product-gallery-stacked.product-gallery-grid-layout--2:not(.flickity-enabled){grid-template-columns:repeat(2,1fr)}.product-gallery-stacked.product-gallery-grid-layout--3-1-2 .slide:first-child{grid-column:span 6;order:4}.product-gallery-stacked.product-gallery-grid-layout--3-1-2 .slide:nth-child(2){grid-column:span 2;order:1}.product-gallery-stacked.product-gallery-grid-layout--3-1-2 .slide:nth-child(3){grid-column:span 2;order:2}.product-gallery-stacked.product-gallery-grid-layout--3-1-2 .slide:nth-child(4){grid-column:span 2;order:3}.product-gallery-stacked.product-gallery-grid-layout--3-1-2 .slide:nth-child(n+5){grid-column:span 3;order:5}}
@media screen and (min-width:850px){.vertical-thumbnails .flickity-slider,.vertical-thumbnails .flickity-viewport{height:auto!important;overflow:visible!important;transform:none!important}}
.product-sidebar-small .is-divider{margin-left:auto;margin-right:auto}
.product-gallery-slider .slide .easyzoom-flyout img{max-width:1000px!important;width:1000px!important}
.text-center .quantity{display:inline-flex;opacity:1;vertical-align:top;white-space:nowrap}
.quantity .button.minus{border-bottom-right-radius:0!important;border-right:0!important;border-top-right-radius:0!important}
.quantity .button.plus{border-bottom-left-radius:0!important;border-left:0!important;border-top-left-radius:0!important}
.nav-dropdown .ux-free-shipping{min-width:300px}
.widget_shopping_cart_content .ux-free-shipping{margin-bottom:10px}
.cart-icon,.cart-icon strong{display:inline-block}
.cart-icon strong{border:2px solid var(--fs-color-primary);border-radius:0;color:var(--fs-color-primary);font-family:Helvetica,Arial,Sans-serif;font-size:1em;font-weight:700;height:2.2em;line-height:1.9em;margin:.3em 0;position:relative;text-align:center;vertical-align:middle;width:2.2em}
.cart-icon strong:after{border:2px solid var(--fs-color-primary);border-bottom:0;border-top-left-radius:99px;border-top-right-radius:99px;bottom:100%;content:" ";height:8px;left:50%;margin-bottom:0;margin-left:-7px;pointer-events:none;position:absolute;transition:height .1s ease-out;width:14px}
.cart-icon:hover strong,.current-dropdown .cart-icon strong{background-color:var(--fs-color-primary);color:#fff}
.cart-icon:hover strong:after,.current-dropdown .cart-icon strong:after{height:10px}
.nav-small .cart-icon{font-size:.66em}
.nav-dark .cart-icon strong{border-color:#fff;color:#fff}
.nav-dark .cart-icon:hover strong,.nav-dark .current-dropdown .cart-icon strong{background-color:#fff;color:var(--fs-color-primary)}
.nav-dark .cart-icon strong:after{border-color:#fff}
.woocommerce-mini-cart__empty-message{text-align:center}
.loading .cart-icon strong,.loading .cart-icon strong:after{border-color:var(--fs-color-success);color:var(--fs-color-success)}
.loading .cart-icon:hover strong{background-color:var(--fs-color-success);color:#fff}
.cart-popup-title>span{display:block;font-size:1.125em}
.cart_totals .button{display:block;margin-right:0;min-width:100%}
.woocommerce-cart-form .coupon .button{margin:0;padding-inline:15px!important}
.widget_shopping_cart .woocommerce-mini-cart__buttons .button{margin:.5em 0 0;width:100%}
.widget_shopping_cart li.empty{margin:0;min-height:0;padding:0 10px!important;text-align:center}
.widget_shopping_cart p.total{border-bottom:2px solid #ececec;border-top:1px solid #ececec;margin-bottom:.5em;padding:10px 0;text-align:center}
.dark .widget_shopping_cart p.total{border-color:hsla(0,0%,100%,.2)}
.nav-dropdown .product_list_widget{-webkit-overflow-scrolling:touch;max-height:500px;max-height:50vh;overflow-y:auto}
.nav-dropdown ul.woocommerce-mini-cart{margin-bottom:10px}
.nav-dropdown ul.woocommerce-mini-cart .price-wrapper{font-size:.85em;opacity:.6}
.cart-popup-inner{display:flex;flex-direction:column;padding-bottom:0}
.cart-popup-inner>:last-child{margin-bottom:30px}
.cart-popup-inner .widget_shopping_cart{margin-bottom:0}
.cart-popup-inner .widget_shopping_cart,.cart-popup-inner .widget_shopping_cart_content{display:flex;flex:1;flex-direction:column}
.cart-popup-inner .widget_shopping_cart_content .price-wrapper{font-size:.85em;opacity:.6}
.cart-popup-inner .woocommerce-mini-cart{display:flex;flex:1;flex-direction:column;margin-bottom:30px}
.cart-popup-inner .woocommerce-mini-cart__buttons:last-child{margin-bottom:0}
@media(min-height:500px){.cart-popup-inner--sticky{min-height:calc(100vh - var(--wp-admin--admin-bar--height,0px))}.cart-popup-inner--sticky .ux-mini-cart-footer{background-color:#fff;border-top:1px solid #f1f1f1;bottom:0;position:sticky}.cart-popup-inner--sticky .ux-mini-cart-footer .woocommerce-mini-cart__total:first-child{border-top:0}}
.nav-dropdown .ux-mini-cart-cross-sells{display:none}
.ux-mini-cart-cross-sells__list .button.add_to_cart_button{align-items:center;display:inline-flex;float:right;font-size:.7em;gap:5px;justify-content:center;line-height:1;margin:0 0 8px 8px;padding:3px 8px}
.ux-mini-cart-empty{gap:30px;padding:15px 0}
.ux-mini-cart-empty .woocommerce-mini-cart__empty-message{margin-bottom:0}
.icon{display:inline-block;margin-right:8px;}
.header-button .button i{border:1px solid var(--fs-color-alert);border-radius:50rem;padding:0.4rem;font-size:1.25rem;width:2.5rem;height:2.5rem;}
.header-button .button{color:var(--fs-color-alert);font-size:1.2rem}
.searchform{border-radius:0.25rem;overflow:hidden;}
.searchform input,.searchform button{font-size:1.05rem;border:none !important}
.searchform .flex-row .flex-col:nth-child(2){position:absolute;right:0;}
.searchform button{background-color:transparent;color:var(--fs-color-primary)}
#secondary .is-divider,#woocommerce_product_categories-7 .is-divider,#woocommerce_product_categories-6 .is-divider{display:none;}
#secondary .widget-title,#woocommerce_product_categories-7 .widget-title,#woocommerce_product_categories-6 .widget-title{background:var(--primary-color);color:#fff;width:100%;display:block;padding:0.5rem;}
#secondary ul,#woocommerce_product_categories-7 ul,#woocommerce_product_categories-6 ul{padding:0.5rem 0.5rem;background-color:var(--fs-color-secondary);}
ul.flex,ol.flex{display:block !important;padding:40px;}
.screen-reader-text{clip:rect(1px,1px,1px,1px);word-wrap:normal!important;border:0;clip-path:inset(50%);height:1px;margin:-1px;overflow:hidden;overflow-wrap:normal!important;padding:0;position:absolute!important;width:1px}
.screen-reader-text:focus{clip:auto!important;background-color:#fff;border-radius:3px;box-shadow:0 0 2px 2px rgba(0,0,0,.6);clip-path:none;color:#2b2d2f;display:block;font-size:.875rem;font-weight:700;height:auto;left:5px;line-height:normal;padding:15px 23px 14px;text-decoration:none;top:5px;width:auto;z-index:100000}
.screen-reader-text{border:0;clip-path:inset(50%);height:1px;margin:-1px;overflow:hidden;padding:0;position:absolute;width:1px;word-wrap:normal!important}
.screen-reader-text:focus{background-color:#ddd;clip-path:none;color:#444;display:block;font-size:1em;height:auto;left:5px;line-height:normal;padding:15px 23px 14px;text-decoration:none;top:5px;width:auto;z-index:100000}
.full-width .ubermenu-nav,.container{max-width:1170px}
.header-main{height:90px}
#logo img{max-height:90px}
#logo{width:200px;}
.header-bottom{min-height:55px}
.transparent .header-main{height:90px}
.transparent #logo img{max-height:90px}
.has-transparent + #main > .page-title,.has-transparent + #main > div > .page-title,.has-transparent + #main .page-header-wrapper:first-of-type .page-title{padding-top:140px;}
.header.show-on-scroll,.stuck .header-main{height:70px!important}
.stuck #logo img{max-height:70px!important}
.search-form{width:70%;}
.header-bottom{background-color:#155d2c}
.header-main .nav > li > a{line-height:16px}
.stuck .header-main .nav > li > a{line-height:50px}
.header-bottom-nav > li > a{line-height:54px}
@media (max-width:549px){.header-main{height:70px}#logo img{max-height:70px}}
.nav > li > a{font-family:Roboto,sans-serif;}
.mobile-sidebar-levels-2 .nav > li > ul > li > a{font-family:Roboto,sans-serif;}
.nav > li > a,.mobile-sidebar-levels-2 .nav > li > ul > li > a{font-weight:700;font-style:normal;}
.heading-font{font-family:Roboto,sans-serif;}
.heading-font{font-weight:700;font-style:normal;}
.header:not(.transparent) .header-bottom-nav.nav > li > a{color:#ffffff;}
.header:not(.transparent) .header-bottom-nav.nav > li > a:hover,.header:not(.transparent) .header-bottom-nav.nav > li.active > a,.header:not(.transparent) .header-bottom-nav.nav > li.current > a,.header:not(.transparent) .header-bottom-nav.nav > li > a.active,.header:not(.transparent) .header-bottom-nav.nav > li > a.current{color:#115426;}
.header-bottom-nav.nav-line-bottom > li > a:before,.header-bottom-nav.nav-line-grow > li > a:before,.header-bottom-nav.nav-line > li > a:before,.header-bottom-nav.nav-box > li > a:hover,.header-bottom-nav.nav-box > li.active > a,.header-bottom-nav.nav-pills > li > a:hover,.header-bottom-nav.nav-pills > li.active > a{color:#FFF!important;background-color:#115426;}
.label-new.menu-item > a:after{content:"Mới";}
.label-hot.menu-item > a:after{content:"Nổi bật";}
.label-sale.menu-item > a:after{content:"Giảm giá";}
.label-popular.menu-item > a:after{content:"Phổ biến";}