/.env
/.env.*
!/.env.example
/vendor/
/node_modules/
/addons/
/public/*
/storage/*.key
/storage/pail
/storage/logs/*
!/storage/logs/.gitignore
/storage/framework/cache/*
!/storage/framework/cache/.gitignore
/storage/framework/sessions/*
!/storage/framework/sessions/.gitignore
/storage/framework/views/*
!/storage/framework/views/.gitignore
/storage/release/
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.idea/
/.vscode/
/_indep.php
.tmp_*
/bootstrap/cache/*.php
!/bootstrap/cache/.gitignore
