<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
>
    <testsuites>
        <testsuite name="Unit">
            <directory suffix="Test.php">tests/Unit</directory>
        </testsuite>
        <testsuite name="ClientCore">
            <directory suffix="Test.php">tests/ClientCore</directory>
        </testsuite>
        <testsuite name="Feature">
            <directory suffix="Test.php">tests/Feature</directory>
        </testsuite>
        <testsuite name="ContentAddon">
            <directory suffix="Test.php">./addons/content/tests</directory>
        </testsuite>
        <testsuite name="MediaAddon">
            <directory suffix="Test.php">./addons/media/tests</directory>
        </testsuite>
        <testsuite name="SeoAddon">
            <directory suffix="Test.php">./addons/seo/tests</directory>
        </testsuite>
        <testsuite name="WordPressAddon">
            <directory suffix="Test.php">./addons/wordpress/tests</directory>
        </testsuite>
        <testsuite name="PublishingAddon">
            <directory suffix="Test.php">./addons/publishing/tests</directory>
        </testsuite>
        <testsuite name="ContentProjectsAddon">
            <directory suffix="Test.php">./addons/content-projects/tests</directory>
        </testsuite>
        <testsuite name="SearchIntelligenceAddon">
            <directory suffix="Test.php">./addons/search-intelligence/tests</directory>
        </testsuite>
        <testsuite name="AiPromptAddon">
            <directory suffix="Test.php">./addons/ai-prompt/tests</directory>
        </testsuite>
        <testsuite name="SiteSyncAddon">
            <directory suffix="Test.php">./addons/site-sync/tests</directory>
        </testsuite>
        <testsuite name="AgentAddon">
            <directory suffix="Test.php">./addons/agent/tests</directory>
        </testsuite>
        <testsuite name="SocialAddon">
            <directory suffix="Test.php">./addons/social/tests</directory>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory>app</directory>
            <directory>addons</directory>
        </include>
        <exclude>
            <directory>app/Addons/SeoContentAi/tests</directory>
            <directory>addons/*/tests</directory>
            <directory>addons/*/resources</directory>
            <directory>addons/*/database</directory>
        </exclude>
    </source>
    <php>
        <env name="APP_ENV" value="testing" force="true"/>
        <env name="APP_MAINTENANCE_DRIVER" value="file"/>
        <env name="BCRYPT_ROUNDS" value="4"/>
        <env name="BROADCAST_CONNECTION" value="null"/>
        <env name="CACHE_STORE" value="array"/>
        <env name="DB_CONNECTION" value="sqlite" force="true"/>
        <env name="DB_DATABASE" value=":memory:" force="true"/>
        <env name="MAIL_MAILER" value="array"/>
        <env name="QUEUE_CONNECTION" value="sync"/>
        <env name="SESSION_DRIVER" value="array"/>
        <env name="PULSE_ENABLED" value="false"/>
        <env name="TELESCOPE_ENABLED" value="false"/>
        <env name="NIGHTWATCH_ENABLED" value="false"/>
        <env name="SEO_TEST_USE_MYSQL" value="false" force="false"/>
    </php>
</phpunit>

