.header-main .nav > li > a{line-height:16px}
.stuck .header-main .nav > li > a{line-height:50px}
.nav > li > a{font-family:Roboto,sans-serif;}
.mobile-sidebar-levels-2 .nav > li > ul > li > a{font-family:Roboto,sans-serif;}
.nav > li > a,.mobile-sidebar-levels-2 .nav > li > ul > li > a{font-weight:700;font-style:normal;}
.header:not(.transparent) .header-bottom-nav.nav > li > a{color:#ffffff;}
.header:not(.transparent) .header-bottom-nav.nav > li > a:hover,.header:not(.transparent) .header-bottom-nav.nav > li.active > a,.header:not(.transparent) .header-bottom-nav.nav > li.current > a,.header:not(.transparent) .header-bottom-nav.nav > li > a.active,.header:not(.transparent) .header-bottom-nav.nav > li > a.current{color:#115426;}
.header-bottom-nav.nav-line > li > a:before,.header-bottom-nav.nav-box > li.active > a,.header-bottom-nav.nav-pills > li.active > a{color:#FFF!important;background-color:#115426;}